
.choice-container{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 85vh;
   width: 100% ;
   
}


.choice{
  list-style: none;
  flex-direction: column;
  
  
}

.choice li{
  cursor: pointer;
  border: 3px solid black;
  padding: 10px 25px 10px 25px;
  margin: 10px;
  text-align: center;
  font-size: 1.5em;
  transition: all .4s ease-in-out;
  border-radius: 25px;

}

.choice li:hover{
  color: rgb(226, 38, 38);
}






@import url('https://fonts.googleapis.com/css?family=IBM%20Plex%20Sans:700|IBM%20Plex%20Sans:400');

h1 {
  color: black;
  font-size: 80px;
  font-family: "IBM Plex Sans";
}

.title {
  background: white;
  height: 34vh;
  /* position: relative; */
  justify-items: center;
  align-items: center;

  filter: blur(3px) contrast(90);
}
