.footer-container{
    background-color: rgb(52, 49, 49);
    bottom:0;
    height: 8vh;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-copyright{
    text-align: center;
    color: white;
    
}

.footer-copyright h3{
    font-size: 1.5em;
}

.footer-body{
    z-index:1;
    text-align: center;
}

@media(max-width:767px){

    .footer-copyright{
        text-align: center;
    }

    .footer-body{
        text-align: center;
    }
}

.footer-container h3{
    color: #00A896;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.footer-icons{
    /* color: #00A896; */
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 25px;
    gap: 0.5em;
    margin-top: 0.5em;
    margin-bottom:0.5em;
    padding:0;
}