.footer-container{
    background-color: rgb(10, 4, 22);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    bottom:0;
    height: 15vh;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-copyright{
    text-align: center;
    color: white;
    
}

.footer-body{
    z-index:1;
    text-align: center;
}

@media(max-width:767px){

    .footer-copyright{
        text-align: center;
    }

    .footer-body{
        text-align: center;
    }
}

.footer-container h3{
    font-size: 4 em;
    color: white;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 25px;
    gap: 0.5em;
    margin-top: 0.5em;
    margin-bottom:0.5em;
    padding:0;
}